@import url("https://fonts.googleapis.com/css2?family=Golos+Text&family=Montserrat:wght@100;600&display=swap");
html {
  overflow-y: hidden;
}

body,
main {
  height: 100vh;
  width: 100vh;
  margin: 0px;
  background-color: #F5F5DC;
}

#navstuff {
  height: 5rem;
  width: 5rem;
  position: fixed;
  right: 5rem;
  top: 2rem;
  transform: translateX(50%);
}

#nav-toggle {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #FFB6C1;
  border: none;
  border-radius: 5rem;
  outline: none;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 400ms;
  display: flex;
  align-items: center;
}
#nav-toggle:hover {
  transform: scale(1.1);
}
#nav-toggle:hover ~ #secret {
  transform: translate(-0.5%, 50%);
}
#nav-toggle:active {
  transform: scale(0.9);
}

#nav-toggle > h1 {
  position: absolute;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat";
  font-size: 2.5rem;
  color: #fff;
  transition: opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
  transform-origin: left top;
  text-align: center;
}

@keyframes spinny {
  0% {
    rotate: 0deg;
    animation-timing-function: ease;
  }
  50% {
    rotate: 385deg;
    animation-timing-function: ease-in-out;
  }
  100% {
    rotate: 360deg;
    animation-timing-function: ease-out;
  }
}
@keyframes unspinny {
  0% {
    rotate: 0deg;
    animation-timing-function: ease;
  }
  50% {
    rotate: -385deg;
    animation-timing-function: ease-in-out;
  }
  100% {
    rotate: -360deg;
    animation-timing-function: ease-out;
  }
}
body:not([data-nav=true]) #closedIcon {
  opacity: 1;
}
body:not([data-nav=true]) #openIcon {
  opacity: 0;
}
body:not([data-nav=true]) #nav-bar {
  transform: translateX(100%);
}

body:not([data-nav=true]) #nav-toggle:hover #openIcon {
  opacity: 1;
}
body:not([data-nav=true]) #nav-toggle:hover #closedIcon {
  opacity: 0;
}

body:not([data-nav=false]) #openIcon {
  opacity: 1;
}
body:not([data-nav=false]) #closedIcon {
  opacity: 0;
}
body:not([data-nav=false]) #nav-bar {
  transform: translateX(0%);
}
body:not([data-nav=false]) .nav-item > .nav-letter:nth-child(1) {
  transition-delay: 0.48s;
  transform: rotateX(15deg);
}
body:not([data-nav=false]) .nav-item > .nav-letter:nth-child(2) {
  transition-delay: 0.5s;
  transform: rotateX(15deg);
}
body:not([data-nav=false]) .nav-item > .nav-letter:nth-child(3) {
  transition-delay: 0.52s;
  transform: rotateX(15deg);
}
body:not([data-nav=false]) .nav-item > .nav-letter:nth-child(4) {
  transition-delay: 0.54s;
  transform: rotateX(15deg);
}
body:not([data-nav=false]) .nav-item > .nav-letter:nth-child(5) {
  transition-delay: 0.56s;
  transform: rotateX(15deg);
}
body:not([data-nav=false]) .nav-item > .nav-letter:nth-child(6) {
  transition-delay: 0.58s;
  transform: rotateX(15deg);
}
body:not([data-nav=false]) .nav-item > .nav-letter:nth-child(7) {
  transition-delay: 0.6s;
  transform: rotateX(15deg);
}
body:not([data-nav=false]) .nav-item > .nav-letter:nth-child(8) {
  transition-delay: 0.62s;
  transform: rotateX(15deg);
}

.activate {
  animation: spinny 0.75s;
}

.deactivate {
  animation: unspinny 0.75s;
}

a {
  text-decoration: none;
  color: #FFB6C1;
  transition: all ease 250ms;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
a:visited {
  color: #FFB6C1;
}
a:hover {
  color: #fff;
}

#nav-bar ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#nav-bar li {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#secret {
  position: absolute;
  z-index: 0;
  position: absolute;
  height: 50%;
  width: 1000%;
  left: -1000%;
  transform: translateY(50%);
  margin: 0;
  padding: 0;
  transition: transform;
  transition-duration: 400ms;
  overflow: hidden;
}

#nav-bar {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform ease-in-out 0.5s;
}

.nav-item {
  display: flex;
}

.nav-item > .nav-letter {
  transform-origin: 0% 100%;
  transform: rotate(-15deg);
  margin: 0;
  padding: 0;
  transition: transform ease-out 0.1s;
}/*# sourceMappingURL=style.css.map */